doctype html

html
    head
        title Backend Development 
        block script
        block style 
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")

         
    body
        nav#navbar
          ul

            li #[a(href="/") Home]
            li #[a(href="/Secure") Secure]
            li #[a(href="/signup") Sign up]
            li #[a(href="/login") Login]
            
        block contant
        footer
            .footer
                | Copyright (c)  2020 Backend process | All right reserved


